body{
    text-align: center;
    font-size: 1.5em;
}

#myGuess{
    font-size: large;
}

#guessBtn{
    font-size: 1em;
    background-color: dodgerblue;
    color: white;
}

#guessBtn:hover{
    background-color: blue;
}

#container{
    background-color: rgba(128, 128, 128, 0.161);
    padding: 25px;
    max-width: 75%;
    margin: auto;
}